<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Path" value="c:\tmp\test_dir\"/>
  </appSettings>
  <connectionStrings>
    <add name="Update_FirstCS" connectionString="Data Source=PLLOD-V-ISDC119;Initial Catalog=CCRP7Dev;Persist Security Info=True;Integrated Security=True;MultipleActiveResultSets=True;"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
